<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @round.number %>
</p>

<p>
  <b>Firstgovteam:</b>
  <%= @round.firstgovteam %>
</p>

<p>
  <b>Secondgovteam:</b>
  <%= @round.secondgovteam %>
</p>

<p>
  <b>Firstoppteam:</b>
  <%= @round.firstoppteam %>
</p>

<p>
  <b>Secondoppteam:</b>
  <%= @round.secondoppteam %>
</p>

<p>
  <b>Judge:</b>
  <%= @round.judge %>
</p>

<p>
  <b>Resolution:</b>
  <%= @round.resolution %>
</p>

<p>
  <b>Pm spkrpnts:</b>
  <%= @round.pm_spkrpnts %>
</p>

<p>
  <b>Dpm spkrpnts:</b>
  <%= @round.dpm_spkrpnts %>
</p>

<p>
  <b>Lo spkrpnts:</b>
  <%= @round.lo_spkrpnts %>
</p>

<p>
  <b>Dlo spkrpnts:</b>
  <%= @round.dlo_spkrpnts %>
</p>

<p>
  <b>Mg spkrpnts:</b>
  <%= @round.mg_spkrpnts %>
</p>

<p>
  <b>Mo spkrpnts:</b>
  <%= @round.mo_spkrpnts %>
</p>

<p>
  <b>Ow spkrpnts:</b>
  <%= @round.ow_spkrpnts %>
</p>

<p>
  <b>Gw spkrpnts:</b>
  <%= @round.gw_spkrpnts %>
</p>


<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
